.color-change {
  padding: 10px;
  border-radius: 30px;
  border: 1px solid transparent;
  max-width: 370px;
  width: 95%;
  display: block;
  margin: 20px auto;
  font-size: 20px;
  cursor: pointer;
}
.color-change:hover {
  box-shadow: 1px 1px 6px 0px gray;
  background-color: beige;
}
