.counter {
  max-width: 350px;
  width: 95%;
  margin: 10px auto;
  text-align: center;
  box-shadow: 0px 0px 4px 0px gray;
  padding: 20px 0 30px 0;
  border-radius: 10px;
}
.counter-red {
  color: red;
}
.counter-green {
  color: green;
}
.counter-text {
  font-size: 60px;
  font-weight: bold;
  margin: 20px auto;
}
.decrease-btn,
.increase-btn,
.reset-btn {
  padding: 8px;
  margin: 0 10px;
  border-radius: 10px;
  border: 0px solid transparent;
  cursor: pointer;
}
.decrease-btn:hover,
.increase-btn:hover,
.reset-btn:hover {
  background-color: rgb(181, 181, 181);
}
